ParticipantList/Service References/ETOResults.QaaWS.Samples.Participants/queryasaservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s0="Participants" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:tns1="dsws.businessobjects.com" name="queryasaservice" targetNamespace="Participants" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types>
    <s:schema elementFormDefault="qualified" targetNamespace="Participants">
      <s:element name="runQueryAsAService">
        <s:complexType>
          <s:sequence>
            <s:element name="login" type="s:string" />
            <s:element name="password" type="s:string" />
            <s:element name="Site" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runQueryAsAServiceEx">
        <s:complexType>
          <s:sequence>
            <s:element name="login" type="s:string" />
            <s:element name="password" type="s:string" />
            <s:element name="Site" nillable="true" type="s0:LovValueIndex" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="valuesOf_Site_Name">
        <s:complexType>
          <s:sequence>
            <s:element name="login" type="s:string" />
            <s:element name="password" type="s:string" />
            <s:element name="searchLov" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Row">
        <s:sequence>
          <s:element name="Participant_Site_Identifier" nillable="true" type="s:double" />
          <s:element name="Name" nillable="true" type="s:string" />
          <s:element name="Case_Number" nillable="true" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Table">
        <s:sequence>
          <s:element maxOccurs="unbounded" name="row" type="s0:Row" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="LovValueIndex">
        <s:sequence>
          <s:element name="value" type="s:string" />
          <s:element name="index" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Lov">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="valueindex" type="s0:LovValueIndex" />
        </s:sequence>
      </s:complexType>
      <s:element name="valuesOf_Site_NameResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="lov" type="s0:Lov" />
            <s:element name="message" type="s:string" />
            <s:element name="delegated" type="s:boolean" />
            <s:element name="partialResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runQueryAsAServiceResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="table" type="s0:Table" />
            <s:element name="message" type="s:string" />
            <s:element name="creatorname" type="s:string" />
            <s:element name="creationdate" type="s:dateTime" />
            <s:element name="creationdateformated" type="s:string" />
            <s:element name="description" type="s:string" />
            <s:element name="universe" type="s:string" />
            <s:element name="queryruntime" type="s:int" />
            <s:element name="fetchedrows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="runQueryAsAServiceExResponse">
        <s:complexType>
          <s:sequence>
            <s:element name="table" type="s0:Table" />
            <s:element name="message" type="s:string" />
            <s:element name="creatorname" type="s:string" />
            <s:element name="creationdate" type="s:dateTime" />
            <s:element name="creationdateformated" type="s:string" />
            <s:element name="description" type="s:string" />
            <s:element name="universe" type="s:string" />
            <s:element name="queryruntime" type="s:int" />
            <s:element name="fetchedrows" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="QaaWSHeader">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sessionID" nillable="true" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="serializedSession" nillable="true" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </types>
  <message name="runQueryAsAServiceSoapIn">
    <part name="parameters" element="s0:runQueryAsAService" />
    <part name="request_header" element="s0:QaaWSHeader" />
  </message>
  <message name="runQueryAsAServiceSoapOut">
    <part name="parameters" element="s0:runQueryAsAServiceResponse" />
  </message>
  <message name="runQueryAsAServiceExSoapIn">
    <part name="parameters" element="s0:runQueryAsAServiceEx" />
    <part name="request_header" element="s0:QaaWSHeader" />
  </message>
  <message name="runQueryAsAServiceExSoapOut">
    <part name="parameters" element="s0:runQueryAsAServiceExResponse" />
  </message>
  <message name="valuesOf_Site_NameSoapIn">
    <part name="parameters" element="s0:valuesOf_Site_Name" />
    <part name="request_header" element="s0:QaaWSHeader" />
  </message>
  <message name="valuesOf_Site_NameSoapOut">
    <part name="parameters" element="s0:valuesOf_Site_NameResponse" />
  </message>
  <portType name="QueryAsAServiceSoap">
    <operation name="runQueryAsAService">
      <documentation>Get Web Service Provider server info</documentation>
      <input message="s0:runQueryAsAServiceSoapIn" />
      <output message="s0:runQueryAsAServiceSoapOut" />
    </operation>
    <operation name="runQueryAsAServiceEx">
      <documentation>Get Web Service Provider server info</documentation>
      <input message="s0:runQueryAsAServiceExSoapIn" />
      <output message="s0:runQueryAsAServiceExSoapOut" />
    </operation>
    <operation name="valuesOf_Site_Name">
      <documentation>Get Web Service Provider server info</documentation>
      <input message="s0:valuesOf_Site_NameSoapIn" />
      <output message="s0:valuesOf_Site_NameSoapOut" />
    </operation>
  </portType>
  <binding name="QueryAsAServiceSoap" type="s0:QueryAsAServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="runQueryAsAService">
      <soap:operation soapAction="Participants/runQueryAsAService" style="document" />
      <input>
        <soap:header message="s0:runQueryAsAServiceSoapIn" part="request_header" use="literal">
          <soap:headerfault message="s0:runQueryAsAServiceSoapIn" part="request_header" use="literal" />
        </soap:header>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="runQueryAsAServiceEx">
      <soap:operation soapAction="Participants/runQueryAsAServiceEx" style="document" />
      <input>
        <soap:header message="s0:runQueryAsAServiceExSoapIn" part="request_header" use="literal">
          <soap:headerfault message="s0:runQueryAsAServiceExSoapIn" part="request_header" use="literal" />
        </soap:header>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
    <operation name="valuesOf_Site_Name">
      <soap:operation soapAction="Participants/valuesOf_Site_Name" style="document" />
      <input>
        <soap:header message="s0:valuesOf_Site_NameSoapIn" part="request_header" use="literal">
          <soap:headerfault message="s0:valuesOf_Site_NameSoapIn" part="request_header" use="literal" />
        </soap:header>
        <soap:body use="literal" parts="parameters" />
      </input>
      <output>
        <soap:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="Participants">
    <documentation>A sample query that returns a list of participants in the specified site</documentation>
    <port name="QueryAsAServiceSoap" binding="s0:QueryAsAServiceSoap">
      <soap:address location="https://liveoffice.etosoftware.com/dswsbobje/qaawsservices/queryasaservice?&amp;cuid=AbCz8IZ1FRxJgxT3v7b0XYA&amp;authType=secEnterprise&amp;locale=en_US&amp;timeout=60&amp;ConvertAnyType=false" />
    </port>
  </service>
</definitions>